In [ ]:
print("Welcome to Pandas-1")

Welcome to Pandas-1

![panda%20pic.jpeg](attachment:panda%20pic.jpeg)

In [ ]:
!wget "https://drive.google.com/file/d/1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_/view?usp=sharing" -O "gapminder.csv"

zsh:1: command not found: wget

In [ ]:

import pandas as pd

In [ ]:
!gdown 1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_

Downloading...
From: https://drive.google.com/uc?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
To: /Users/nikhilsanghi/Downloads/dsml-course-main-live/batches/dsml-june22-intermediate/Common Core/Pandas/gapminder.csv
100%|██████████████████████████████████████| 83.8k/83.8k [00:00<00:00, 1.24MB/s]

In [ ]:
df=pd.read_csv("/Users/nikhilsanghi/Downloads/dsml-course-main-live/batches/dsml-june22-intermediate/Common Core/Pandas/gapminder.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df["year"]

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [ ]:
type(df["year"])

pandas.core.series.Series

In [ ]:
df['year'].dtype

dtype('int64')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [ ]:
df.describe(include=["object","int64","float64"])

,country,year,population,continent,life_exp,gdp_cap
count,1704,1704.00000,1.704000e+03,1704,1704.000000,1704.000000
unique,142,NaN,NaN,5,NaN,NaN
top,Afghanistan,NaN,NaN,Africa,NaN,NaN
freq,12,NaN,NaN,624,NaN,NaN
mean,NaN,1979.50000,2.960121e+07,NaN,59.474439,7215.327081
std,NaN,17.26533,1.061579e+08,NaN,12.917107,9857.454543
min,NaN,1952.00000,6.001100e+04,NaN,23.599000,241.165876
25%,NaN,1965.75000,2.793664e+06,NaN,48.198000,1202.060309
50%,NaN,1979.50000,7.023596e+06,NaN,60.712500,3531.846988
75%,NaN,1993.25000,1.958522e+07,NaN,70.845500,9325.462346
max,NaN,2007.00000,1.318683e+09,NaN,82.603000,113523.132900

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [ ]:
df.head(10)

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106
5  Afghanistan  1977    14880372      Asia    38.438  786.113360
6  Afghanistan  1982    12881816      Asia    39.854  978.011439
7  Afghanistan  1987    13867957      Asia    40.822  852.395945
8  Afghanistan  1992    16317921      Asia    41.674  649.341395
9  Afghanistan  1997    22227415      Asia    41.763  635.341351

In [ ]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [ ]:
df.tail(20)

       country  year  population continent  life_exp      gdp_cap
1684    Zambia  1972     4506497    Africa    50.107  1773.498265
1685    Zambia  1977     5216550    Africa    51.386  1588.688299
1686    Zambia  1982     6100407    Africa    51.821  1408.678565
1687    Zambia  1987     7272406    Africa    50.821  1213.315116
1688    Zambia  1992     8381163    Africa    46.100  1210.884633
1689    Zambia  1997     9417789    Africa    40.238  1071.353818
1690    Zambia  2002    10595811    Africa    39.193  1071.613938
1691    Zambia  2007    11746035    Africa    42.384  1271.211593
1692  Zimbabwe  1952     3080907    Africa    48.451   406.884115
1693  Zimbabwe  1957     3646340    Africa    50.469   518.764268
1694  Zimbabwe  1962     4277736    Africa    52.358   527.272182
1695  Zimbabwe  1967     4995432    Africa    53.995   569.795071
1696  Zimbabwe  1972     5861135    Africa    55.635   799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674   685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363   788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351   706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298

In [ ]:
df.shape

(1704, 6)

In [ ]:
df.shape[0]

1704

In [ ]:
df.shape[1]

6

In [ ]:
row,column=df.shape

In [ ]:
row

1704

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
#method1
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [ ]:
#method2
df.keys()

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [ ]:
df["country"].head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [ ]:
df[["country","year","life_exp"]]

          country  year  life_exp
0     Afghanistan  1952    28.801
1     Afghanistan  1957    30.332
2     Afghanistan  1962    31.997
3     Afghanistan  1967    34.020
4     Afghanistan  1972    36.088
...           ...   ...       ...
1699     Zimbabwe  1987    62.351
1700     Zimbabwe  1992    60.377
1701     Zimbabwe  1997    46.809
1702     Zimbabwe  2002    39.989
1703     Zimbabwe  2007    43.487

[1704 rows x 3 columns]

In [ ]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
df["country"].nunique()

142

In [ ]:
df["country"].value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.rename({"country":'Country'},axis=1,inplace=True)

          Country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df=df.rename({"country":'Country'},axis=1)

In [ ]:
df.rename({"population":'Population',"year":"Year"},axis=1,inplace=True)

In [ ]:
df

          country  Year  Population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.rename(columns={"life_exp":'Life_exp'})

          country  Year  Population continent  Life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df

          country  Year  Population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.drop("continent")

KeyError: "['continent'] not found in axis"

In [ ]:
df.drop("continent",axis=1,inplace=True)

In [ ]:
df

          country  Year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df["year+7"]=df["Year"]+7

In [ ]:
df

          country  Year  Population  life_exp     gdp_cap  year+7
0     Afghanistan  1952     8425333    28.801  779.445314    1959
1     Afghanistan  1957     9240934    30.332  820.853030    1964
2     Afghanistan  1962    10267083    31.997  853.100710    1969
3     Afghanistan  1967    11537966    34.020  836.197138    1974
4     Afghanistan  1972    13079460    36.088  739.981106    1979
...           ...   ...         ...       ...         ...     ...
1699     Zimbabwe  1987     9216418    62.351  706.157306    1994
1700     Zimbabwe  1992    10704340    60.377  693.420786    1999
1701     Zimbabwe  1997    11404948    46.809  792.449960    2004
1702     Zimbabwe  2002    11926563    39.989  672.038623    2009
1703     Zimbabwe  2007    12311143    43.487  469.709298    2014

[1704 rows x 6 columns]

In [ ]:
df["new"]=df["Year"]-df["life_exp"]

In [ ]:
df

,country,Year,Population,life_exp,gdp_cap,year+7,new,new1
0,Afghanistan,1952,8425333,28.801,779.445314,1959,1923.199,1980.801
1,Afghanistan,1957,9240934,30.332,820.853030,1964,1926.668,1987.332
2,Afghanistan,1962,10267083,31.997,853.100710,1969,1930.003,1993.997
3,Afghanistan,1967,11537966,34.020,836.197138,1974,1932.980,2001.020
4,Afghanistan,1972,13079460,36.088,739.981106,1979,1935.912,2008.088
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,62.351,706.157306,1994,1924.649,2049.351
1700,Zimbabwe,1992,10704340,60.377,693.420786,1999,1931.623,2052.377
1701,Zimbabwe,1997,11404948,46.809,792.449960,2004,1950.191,2043.809
1702,Zimbabwe,2002,11926563,39.989,672.038623,2009,1962.011,2041.989
1703,Zimbabwe,2007,12311143,43.487,469.709298,2014,1963.513,2050.487

In [ ]:
df["new2"]=df["country"]-df["life_exp"]

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [ ]:
df

,country,Year,Population,life_exp,gdp_cap,year+7,new,new1
0,Afghanistan,1952,8425333,28.801,779.445314,1959,1923.199,1980.801
1,Afghanistan,1957,9240934,30.332,820.853030,1964,1926.668,1987.332
2,Afghanistan,1962,10267083,31.997,853.100710,1969,1930.003,1993.997
3,Afghanistan,1967,11537966,34.020,836.197138,1974,1932.980,2001.020
4,Afghanistan,1972,13079460,36.088,739.981106,1979,1935.912,2008.088
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,62.351,706.157306,1994,1924.649,2049.351
1700,Zimbabwe,1992,10704340,60.377,693.420786,1999,1931.623,2052.377
1701,Zimbabwe,1997,11404948,46.809,792.449960,2004,1950.191,2043.809
1702,Zimbabwe,2002,11926563,39.989,672.038623,2009,1962.011,2041.989
1703,Zimbabwe,2007,12311143,43.487,469.709298,2014,1963.513,2050.487

In [ ]:
df.drop([1,2,4])

,country,Year,Population,life_exp,gdp_cap,year+7,new,new1
0,Afghanistan,1952,8425333,28.801,779.445314,1959,1923.199,1980.801
3,Afghanistan,1967,11537966,34.020,836.197138,1974,1932.980,2001.020
5,Afghanistan,1977,14880372,38.438,786.113360,1984,1938.562,2015.438
6,Afghanistan,1982,12881816,39.854,978.011439,1989,1942.146,2021.854
7,Afghanistan,1987,13867957,40.822,852.395945,1994,1946.178,2027.822
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,62.351,706.157306,1994,1924.649,2049.351
1700,Zimbabwe,1992,10704340,60.377,693.420786,1999,1931.623,2052.377
1701,Zimbabwe,1997,11404948,46.809,792.449960,2004,1950.191,2043.809
1702,Zimbabwe,2002,11926563,39.989,672.038623,2009,1962.011,2041.989
1703,Zimbabwe,2007,12311143,43.487,469.709298,2014,1963.513,2050.487

In [ ]:
df.drop(["year+7","new","new1"],axis=1,inplace=True)

In [ ]:
df

          country  Year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
ser=df["country"]

In [ ]:
ser

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
ser[4]

'Afghanistan'

In [ ]:
ser[6:15]

6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
Name: country, dtype: object

In [ ]:
ser.index

RangeIndex(start=0, stop=1704, step=1)

In [ ]:
import numpy as np
ser.index=np.arange(5,1709)
ser

5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
           ...
1704       Zimbabwe
1705       Zimbabwe
1706       Zimbabwe
1707       Zimbabwe
1708       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
ser[9]

'Afghanistan'

In [ ]:
data=pd.Series(["a","b","c","d","e","f","g","h","i"])
data

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
dtype: object

In [ ]:
data1=pd.Series(["a","b","c","d","e","f","g","h","i"],index=[1,2,3,4,5,6,7,8])
data1

ValueError: Length of values (9) does not match length of index (8)

In [ ]:
data1=pd.Series(["a","b","c","d","e","f","g","h","i"],index=[1,2,3,4,5,6,7,8,9])
data1

1    a
2    b
3    c
4    d
5    e
6    f
7    g
8    h
9    i
dtype: object

In [ ]:
data2=pd.Series(["a","b","c","d","e","f","g","h","i"],index=[1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0])
data2

1.0    a
2.0    b
3.0    c
4.0    d
5.0    e
6.0    f
7.0    g
8.0    h
9.0    i
dtype: object

In [ ]:
data3=pd.Series(["a","b","c","d","e","f","g","h","i"],index=["a","b","c","d","e","f","g","h","i"])
data3

a    a
b    b
c    c
d    d
e    e
f    f
g    g
h    h
i    i
dtype: object

In [ ]:
data1

1    a
2    b
3    c
4    d
5    e
6    f
7    g
8    h
9    i
dtype: object

In [ ]:
data1[3] #indexing

'c'

In [ ]:
data1[3:6] #slicing

4    d
5    e
6    f
dtype: object

In [ ]:
data1.loc[] #explicit
data1.iloc[] #implicit

In [ ]:
data1

1    a
2    b
3    c
4    d
5    e
6    f
7    g
8    h
9    i
dtype: object

In [ ]:
data1.iloc[5]

'f'

In [ ]:
data.iloc[5:8]

5    f
6    g
7    h
dtype: object

In [ ]:
data1.loc[6]

'f'

In [ ]:
data1.loc[6:8]

6    f
7    g
8    h
dtype: object

In [ ]:
data3

a    a
b    b
c    c
d    d
e    e
f    f
g    g
h    h
i    i
dtype: object

In [ ]:
data3.iloc[4]

'e'

In [ ]:
data3.iloc[4:7]

e    e
f    f
g    g
dtype: object

In [ ]:
data3.loc["e"]

'e'

In [ ]:
data3.loc["e":"g"]

e    e
f    f
g    g
dtype: object

In [ ]:
data3.loc[["e","f","g"]]

e    e
f    f
g    g
dtype: object

In [ ]:
df

          country  Year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df.loc[1]

country       Afghanistan
Year                 1957
Population        9240934
life_exp           30.332
gdp_cap         820.85303
Name: 1, dtype: object

In [ ]:
df.loc[[1,10,100]]

         country  Year  Population  life_exp     gdp_cap
1    Afghanistan  1957     9240934    30.332  820.853030
10   Afghanistan  2002    25268405    42.129  726.734055
100   Bangladesh  1972    70759295    45.252  630.233627

In [ ]:
df.loc[[1,10,100],"Population":"gdp_cap"]

     Population  life_exp     gdp_cap
1       9240934    30.332  820.853030
10     25268405    42.129  726.734055
100    70759295    45.252  630.233627

In [ ]:
df.loc[[1,10,100],["Population","gdp_cap","country"]]

     Population     gdp_cap      country
1       9240934  820.853030  Afghanistan
10     25268405  726.734055  Afghanistan
100    70759295  630.233627   Bangladesh

In [ ]:
df.iloc[[1,10,100]]

         country  Year  Population  life_exp     gdp_cap
1    Afghanistan  1957     9240934    30.332  820.853030
10   Afghanistan  2002    25268405    42.129  726.734055
100   Bangladesh  1972    70759295    45.252  630.233627

In [ ]:
df.iloc[[1,10,100],"Population":"gdp_cap"]

TypeError: cannot do positional indexing on Index with these indexers [Population] of type str

In [ ]:
df

          country  Year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df.iloc[[1,10,100],2:]

     Population  life_exp     gdp_cap
1       9240934    30.332  820.853030
10     25268405    42.129  726.734055
100    70759295    45.252  630.233627

In [ ]:
df.iloc[[1,10,100],[2,4,0]]

     Population     gdp_cap      country
1       9240934  820.853030  Afghanistan
10     25268405  726.734055  Afghanistan
100    70759295  630.233627   Bangladesh

In [ ]:
df.iloc[-1]

country         Zimbabwe
Year                2007
Population      12311143
life_exp          43.487
gdp_cap       469.709298
Name: 1703, dtype: object

In [ ]:
df.loc[-1]

KeyError: -1

In [ ]:
df.iloc[-10:]

       country  Year  Population  life_exp     gdp_cap
1694  Zimbabwe  1962     4277736    52.358  527.272182
1695  Zimbabwe  1967     4995432    53.995  569.795071
1696  Zimbabwe  1972     5861135    55.635  799.362176
1697  Zimbabwe  1977     6642107    57.674  685.587682
1698  Zimbabwe  1982     7636524    60.363  788.855041
1699  Zimbabwe  1987     9216418    62.351  706.157306
1700  Zimbabwe  1992    10704340    60.377  693.420786
1701  Zimbabwe  1997    11404948    46.809  792.449960
1702  Zimbabwe  2002    11926563    39.989  672.038623
1703  Zimbabwe  2007    12311143    43.487  469.709298

In [ ]:
df.iloc[-10:,-2:]

      life_exp     gdp_cap
1694    52.358  527.272182
1695    53.995  569.795071
1696    55.635  799.362176
1697    57.674  685.587682
1698    60.363  788.855041
1699    62.351  706.157306
1700    60.377  693.420786
1701    46.809  792.449960
1702    39.989  672.038623
1703    43.487  469.709298

In [ ]:
# Which option gives you the ouput as 3 
# import pandas as pd 
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d']) 
# print(S1[____])
s1

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
s1["c"]

3

In [ ]:
s1[2]

3

In [ ]:
df

          country  Year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df.iloc[:-4]

          country  Year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1695     Zimbabwe  1967     4995432    53.995  569.795071
1696     Zimbabwe  1972     5861135    55.635  799.362176
1697     Zimbabwe  1977     6642107    57.674  685.587682
1698     Zimbabwe  1982     7636524    60.363  788.855041
1699     Zimbabwe  1987     9216418    62.351  706.157306

[1700 rows x 5 columns]

In [ ]:
How to select records from 30th to 40th row for the last 3 
columns using iloc?

In [ ]:
df.iloc[29:40,-3:]

    Population  life_exp      gdp_cap
29    17152804    58.014  4910.416756
30    20033753    61.368  5745.160213
31    23254956    65.799  5681.358539
32    26298373    67.744  5023.216647
33    29072015    69.152  4797.295051
34    31287142    70.994  5288.040382
35    33333216    72.301  6223.367465
36     4232095    30.015  3520.610273
37     4561361    31.999  3827.940465
38     4826015    34.000  4269.276742
39     5247469    35.985  5522.776375

In [ ]:
df.loc[2000]

KeyError: 2000

In [ ]:
df.iloc[2000]

IndexError: single positional indexer is out-of-bounds

In [ ]:
df

          country  Year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
temp=df.set_index("country")
temp

             Year  Population  life_exp     gdp_cap
country
Afghanistan  1952     8425333    28.801  779.445314
Afghanistan  1957     9240934    30.332  820.853030
Afghanistan  1962    10267083    31.997  853.100710
Afghanistan  1967    11537966    34.020  836.197138
Afghanistan  1972    13079460    36.088  739.981106
...           ...         ...       ...         ...
Zimbabwe     1987     9216418    62.351  706.157306
Zimbabwe     1992    10704340    60.377  693.420786
Zimbabwe     1997    11404948    46.809  792.449960
Zimbabwe     2002    11926563    39.989  672.038623
Zimbabwe     2007    12311143    43.487  469.709298

[1704 rows x 4 columns]

In [ ]:
temp.loc["Afghanistan"]

             Year  Population  life_exp     gdp_cap
country
Afghanistan  1952     8425333    28.801  779.445314
Afghanistan  1957     9240934    30.332  820.853030
Afghanistan  1962    10267083    31.997  853.100710
Afghanistan  1967    11537966    34.020  836.197138
Afghanistan  1972    13079460    36.088  739.981106
Afghanistan  1977    14880372    38.438  786.113360
Afghanistan  1982    12881816    39.854  978.011439
Afghanistan  1987    13867957    40.822  852.395945
Afghanistan  1992    16317921    41.674  649.341395
Afghanistan  1997    22227415    41.763  635.341351
Afghanistan  2002    25268405    42.129  726.734055
Afghanistan  2007    31889923    43.828  974.580338

In [ ]:
temp.iloc[4]

Year          1.972000e+03
Population    1.307946e+07
life_exp      3.608800e+01
gdp_cap       7.399811e+02
Name: Afghanistan, dtype: float64

In [ ]:
pd.read_csv?

In [ ]:
x = np.array([[12, 18], [3, 24], [0, 1], [5, 12]])
x

array([[12, 18],
       [ 3, 24],
       [ 0,  1],
       [ 5, 12]])

In [ ]:
y=np.array(x[0],dtype="str")
y

array(['12', '18'], dtype='<U21')

In [ ]:
#

TypeError: 'numpy.int64' object is not iterable

In [ ]:
import numpy as np
a=np.array([1,2,3])
b=a.T
print(a)
print(b)

[1 2 3]
[1 2 3]

In [ ]:
print(a.ndim)
print(b.ndim)

1
1

In [ ]:
import math

def dotProduct(vl, v2):
     a=sum ((a*b) for a, b in zip(v1, v2))
     print(a)

def magnitude(v):
    return math.sqrt(dotProduct(v, v))

def angleBtnTwoVectors(vl, v2):
    if len(v1) != len(v2):
        return "Error"
    else : 
        return math.acos(dotProduct(v1, v2) / (magnitude(v1) * magnitude (v2)))

In [ ]:
v=[10,3]
print(sum ((a*b) for a, b in zip(v, v)))

109

In [ ]:
print(dotProduct(v,v))

-1
None

In [ ]:
v1=[-1,3]
v2=[9,3]

print(dotProduct(v1, v2))

#print(magnitude(v1))
print(magnitude(v2))

print(dotProduct(v2, v2))

print(angleBtnTwoVectors(v1, v2))

0
0.0
0

ZeroDivisionError: ignored